/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 15px

 */
 body{
  font-family: 'Spartan', sans-serif;
  background-image: url(/assets/images/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
 }
/* HEADER */
.header{
  margin-top: 70px;
 text-align: center;
 padding-left: 10px;
padding-right: 10px;

}
.header__title{
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 32px;
}
.header__subtitle{
  
  font-size: 15px;
  font-weight: 500;
  color:hsl(303, 10%, 53%) ;
  line-height: 1.5em;
}

/* RATED */

.section__rated{
  margin-top: 40px;
}
.rated{
  width: 330px;
  height: 75px;
  background-color: hsl(300, 24%, 96%);
  margin: 15px;
  border-radius: 10px;
  text-align: center;
}
.rated__star{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(/assets/images/icon-star.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px 4px 5px 4px;
}
.rated__text{
  color:hsl(300, 43%, 22%);
  font-weight: bold;
  font-size: 13px;
  margin: 0;
}

/* USERS */

.section__users{
  margin-top:50px;
  
}
.users{
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  width: 330px;
  margin:auto auto 15px auto;
}
.users__container{
  display: flex;
  align-items: center;
  padding-top: 30px;
  
}
.users__photo{
  border-radius: 50%;
  width:40px;
  height:40px;
  margin-left: 40px;
  margin-right: 24px;
}

.users__name{
  font-size: 13px;
  color: hsl(0, 0%, 100%);
  margin-bottom:-8px;
}
.users__verified{
  font-size: 13px;
  color: hsl(333, 80%, 67%);
}
.users__body{
  color:#eee; 
  font-size: 13px;
  text-align:start;
  line-height: 1.5rem;
  padding-bottom: 20px;
}
.users__text{
  padding-left: 30px;
  padding-right: 30px;
}






  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }