/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%)

### Neutral

Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size: 15px

 */
 body{
  font-family: 'Spartan', sans-serif;
  background-image: url(/assets/images/bg-pattern-top-mobile.svg);
  background-repeat: no-repeat;
  
 }
 
.header{
  margin-top: 70px;
 text-align: center;
 padding-left: 10px;
padding-right: 10px;

}
.header__title{
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 32px;
}
.header__subtitle{
  
  font-size: 15px;
  font-weight: 500;
  color:hsl(303, 10%, 53%) ;
  line-height: 1.5em;
}

.rated{
  width: 300px;
  height: 70px;
  background-color: hsl(300, 24%, 96%);
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin: 20px;
  border-radius: 10px;
  text-align: center;
}
.rated__star{
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(/assets/images/icon-star.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 15px 4px 5px 4px;
  
}
.rated__text{
  color:hsl(300, 43%, 22%);
  font-weight: bold;
  font-size: 13px;
  margin: 0;
}














  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }